/* MainPage.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .navigation-button {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .navigation-button:hover {
    background-color: #d86421da;
  }
  