.container {
    position: relative;
  padding: 20px; /* This adds space inside the container, making the content not stick to the border */
  margin: 20px; /* This adds space outside the container, giving it some breathing room within its parent element */
  border: 60px solid rgb(255, 255, 255); /* Adjust the size (5px) as needed */
  background-color: rgb(255, 255, 255); /* Just an example, adjust the background color as needed */
  border-radius: 10px; /* Optional: if you want rounded corners */
  /* Other styles as needed */
  }
  
  .required-field::before {
    content: '*';
    color: red;
    margin-right: 4px;
  }

.error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9534f; /* Bootstrap's danger color */
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  animation: fadeInOut 3s ease-in-out;
}

.error-message {
  color: #ffffff;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

