/* FoundPageForm.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  /* FoundPage.css */

textarea {
    resize: none;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  select, textarea {
    margin-bottom: 16px;
    padding: 8px;
  }
  
  button {
    background-color: #13294B;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d86421da;
  }
  
  /* FoundPage.css */

/* ... existing styles */

.thank-you-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #13294B;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  animation: fadeInOut 3s ease-in-out;
}

.error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9534f; /* Bootstrap's danger color */
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  animation: fadeInOut 3s ease-in-out;
}

.error-message {
  color: #ffffff;
}

.back-button {
    position: fixed;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    padding: 9px 9px;
    text-decoration: none;
    background-color: #003366;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 15px;
  }
  
  .back-button:hover {
    background-color: #d86421da;
    text-decoration: none;
    color: white;
  }
  

.navigation-button {
    background-color: #003366;
    margin-top: 50px;
}

.required-field::before {
  content: '*';
  color: red;
  margin-right: 4px;
}

.upload-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}


@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.lost-images {
    padding-top: 30px;
}
